---
layout: default
---

{%- if page.author -%}
<section class="profile">
  {%- if page.avatar -%}
  <img src="{{ page.avatar }}" alt="{{ page.author }}" class="profile-avatar" />
  {%- endif -%}
  <h1 class="profile-name">{{ page.author }}</h1>
  {%- if page.bio -%}
  <p class="profile-bio">{{ page.bio }}</p>
  {%- endif -%}
  {%- if page.social -%}
  <ul class="profile-social">
    {%- for item in page.social -%}
    <li><a href="{{ item.url }}">{{ item.name }}</a></li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</section>
{%- endif -%}

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %}

{%- if site.posts.size > 0 -%}
  <h2 id="articles">Articles</h2>
  <ul>
    {%- for post in site.posts limit:5 -%}
    <li class="post-item">
      {%- if post.image -%}
      <a href="{{ post.url | relative_url }}" class="post-thumb-link">
        <img src="{{ post.image }}" alt="" class="post-thumb" />
      </a>
      {%- endif -%}
      <div class="post-meta">
        {%- assign date_format = "%Y-%m-%d" -%}
        [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </div>
    </li>
    {%- endfor -%}
  </ul>
  {%- if site.posts.size > 5 -%}
  <p style="margin-top: 10px;"><a href="{{ "/posts/" | relative_url }}">View all posts →</a></p>
  {%- endif -%}
{%- endif -%}