@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
    --bg-color: #F4F5FA; /* Neutral100 */
    --text-color: #333eFF; /* Adjust as needed */
    --card-bg: #FFF; /* Neutral200 */
    --nav-bg: #FFF; /* Neutral200 */
    --border-color: #eaeaea; /* Neutral300 */
    --button-bg: #333eFF20; /* Adjust as needed */
    --button-text: #333eFF; /* Adjust as needed */
    --link-hover-color: #0000EE; /* Slightly darker primary color for hover */
}

body.dark-mode {
    --bg-color: #121212; /* DarkNeutral100 */
    --text-color: #eaeaea; /* Adjust as needed */
    --card-bg: #1E1E1E; /* DarkNeutral200 */
    --nav-bg: #1E1E1E; /* DarkNeutral200 */
    --border-color: #2C2C2C; /* DarkNeutral300 */
    --button-bg: #333eFF; /* Adjust as needed */
    --button-text: #eaeaea; /* Adjust as needed */
    --link-hover-color: #333eFF; /* Slightly darker primary color for hover */
}


* {
    font-family: 'Karla', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    background-color: var(--nav-bg);
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust for header height */
}

.contact .card {
    display: flex;
    align-items: center;
    background: var(--card-bg);
    padding: 20px;
    border-radius: 8px;
    border: var(--border-color) 1px solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.contact .profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.contact .card-content {
    text-align: left;
    flex: 1;
}

.contact .card-content h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.contact .card-content p {
    font-size: 16px;
    color: #666;
}

.contact .card-content a {
    color: var(--text-color);
    text-decoration: none;
}

.contact .card-content a:hover {
    text-decoration: underline;
}

.contact .social-links {
    margin-top: 20px;
}

.contact .social-links a {
    margin-right: 10px;
}

.contact .social-links img {
    width: 32px;
    height: 32px;
}

.contact button{
    padding: 10px;
    margin: 4px;
    border: none;
    display: inherit;
    text-align: center;
    background: var(--button-bg);
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--button-text);
    text-decoration: none;
    font-size: 15px;
}

footer {
    background-color: var(--nav-bg);
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid var(--border-color);
}

footer p {
    margin: 0;
    color: var(--text-color);
}

footer .social-links {
    margin-top: 10px;
}

footer .social-links a {
    margin: 0 10px;
    color: var(--text-color);
    text-decoration: none;
}

footer .social-links a:hover {
    text-decoration: underline;
}


/* Media Queries for Responsiveness */
@media (max-width: 800px) {
    .contact .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 80%; /* Slightly increased for better fit */
        padding: 20px;
        margin: 0 auto; /* Center the card on the screen */
    }

    .contact .profile-img {
        width: 120px; /* Adjust size for better fit on small screens */
        height: 120px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contact .card-content {
        text-align: center;
    }

    .contact .card-content h2 {
        font-size: 24px; /* Adjust heading size */
    }

    .contact .card-content p {
        font-size: 14px; /* Adjust paragraph size */
        margin-bottom: 20px; /* Add some spacing at the bottom */
    }

    .contact .social-links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact .social-links a {
        margin: 5px; /* Even spacing around icons */
    }
}
